{% extends '__bass.html' %}
{% block title %} student {{ student }} information {% endblock %}
{% block contant %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="my-4">
                    <form method="POST" name="add_note">
                        {% csrf_token %}
                        <div class="mb-3">
                            <h3> Add a note for the student {{ student.full_name }}. </h3>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" aria-label="Default select example" name="note_type">
                                <option disabled selected>select the note type</option>
                                {% for note_type in note_types %}
                                    <option value="{{ note_type.id }}">{{ note_type.NoteType }}
                                        - {{ note_type.tag }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="note_text" class="form-label">Note text</label>
                            <input type="text" class="form-control" name="note_text" aria-describedby="note_text">
                            <div id="note_text" class="form-text">Enter the note here.</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="list-group col col-lg-6 my-4">
                <span class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Student Notes</h5>
                    </div>
                </span>
                {% if notes %}
                    <script>
                        function updateNoteDeleteList() {
                            let values = [];
                            const boxes = document.getElementsByClassName('note-checkbox');
                            for (let box of boxes)
                                if (box.checked) values.push(box.id);
                            let del_btn = document.getElementById('delete');
                            del_btn.value = JSON.stringify(values);
                        }
                    </script>
                    {% for note in notes %}
                        <span
                                class="list-group-item list-group-item-action flex-column align-items-start list-group-item-{{ note.note_type.tag }}">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ note.note }}</h5>
                                <small>{{ note.note_date }} <input class="form-check-input note-checkbox"
                                                                   type="checkbox" onclick="updateNoteDeleteList()"
                                                                   value="{{ note.id }}" id="{{ note.id }}">
                                </small>
                            </div>
                        </span>
                    {% endfor %}
                    <span>
                        <form method="POST" id="delete_notes" name="delete_notes">
                        {% csrf_token %}
                        <button type="submit" name="del_note_list" id="delete" class="btn btn-danger m-1">
                            Delete Selected</button>
                        </form>
                    </span>
                {% else %}
                    <span
                            class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">There are no notes yet...</h4>
                        </div>
                    </span>
                {% endif %}
            </div>
            <div class="list-group col col-lg-6 my-4">
                <span class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Student Absence</h5>
                    </div>
                </span>
                {% if absences %}
                    <form method="POST" name="absence">
                    {% csrf_token %}
                        {% for absence in absences %}
                            <div
                                    class="list-group-item list-group-item-action flex-column align-items-start list-group-item-{{ note.note_type.tag }}">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ absence.absence_date.isoformat }}  </h5>
                                    <small>{{ note.note_date }} <input class="form-check-input note-checkbox"
                                                                       type="checkbox" name="absences"
                                                                       value="{{ absences.id }}" id="{{ absences.id }}">
                                    </small>
                                </div>
                            </div>
                        {% endfor %}
                    <button type="submit" name="del_absence_list" id="delete2" class="btn btn-danger m-1">
                            Delete Selected</button>
                    </form>
                {% else %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">There are no absences yet...</h4>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
